img.user_img{
	border-radius:50% 50% 50% 50%;
	border:3px solid white;
}
img.logo{
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#FFF')";
    -webkit-filter: drop-shadow(0px 0px 2px #fff);
    -webkit-filter: box-shadow(0px 0px 2px #fff);
    filter: drop-shadow(0px 0px 2px #fff);
}
a.ghost{
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.15em solid #fff;
    padding: 0.2em 0.3em;
    -webkit-transition: color 300ms, background 500ms, border-color 700ms;
    transition: color 300ms, background 500ms, border-color 700ms;
}
a.ghost:hover {
    background: #828282;
    border-color: #FFFFFF;
    color: black;
    text-transform: uppercase;
}
div.iframe{
    padding:10px;
    background:#000;
    webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width:80%;
    height:500px;
    margin:0 
    auto;overflow:hidden;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.accordion {
  margin: auto auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #444;
  /*font-family: Lobster;*/
  font-size: 2rem;
  font-weight: normal;
  color: #FFF;
  text-transform: uppercase;
}
.accordion h1:hover {
  color: #999;
}
.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #FFF;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 5px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#B0B914), to(#FFF));
  /*background-color: #B0B914;*/
  font-size: 1.2rem;
  color: #666666;
  text-transform: uppercase;
}
.accordion h2:hover {
  color: #000;
}
.accordion label {
  width: 100%;
  padding: 5px 30px;
  background-color: #dadada;
  font-size: 1.4rem;
  color: #000; 
}
.accordion h3:hover {
  background-color: #000;
  color: #FFF;
}
.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}